.app{
  color: white;
  padding: 20px;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1561553543-e4c7b608b98d?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
.app__container{
padding: 20px;
text-align: center;
backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.85);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}